.Auth {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
}

.Error {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;

    background-color: salmon;
}

@media (min-width: 600px) {
    .Auth {
        max-width: 500px;
    }
}